<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <!-- Miscellaneous Keys -->
  <SkyMindNetwork_ModTitle>SkyMind Network</SkyMindNetwork_ModTitle>

  <!-- Hostile Hacking -->
  <SMN_EnemyHacksOccur>Кибератаки противника</SMN_EnemyHacksOccur>
  <SMN_ChanceAlliesInterceptHack>Шанс союзников, перехватить кибератаку</SMN_ChanceAlliesInterceptHack>
  <SMN_ChanceAlliesInterceptHackDesc>Процентный шанс того, что союзные фракции спасут вас от кибератаки противника, предотвращая любые негативные последствия, и давая вам бесплатные очки защиты.</SMN_ChanceAlliesInterceptHackDesc>
  <SMN_PointsGainedOnInterceptPercentage>Очки защиты, при перехвате</SMN_PointsGainedOnInterceptPercentage>
  <SMN_PointsGainedOnInterceptPercentageDesc>Когда союзник перехватывает атаку против вас, он жертвует вам очки защиты, в процентах от силы атаки. Это определяет, сколько очков защиты они вам дадут.</SMN_PointsGainedOnInterceptPercentageDesc>
  <SMN_EnemyHackAttackStrengthModifier>Модификатор силы кибератаки противника</SMN_EnemyHackAttackStrengthModifier>
  <SMN_EnemyHackAttackStrengthModifierDesc>Множитель количества очков взлома у противника. Менее 100% снижает частоту взломов, более 100% повышает её.</SMN_EnemyHackAttackStrengthModifierDesc>
  <SMN_PercentageOfValueUsedForRansoms>Процент от стоимости предмета, требуемый при атаке с целью выкупа</SMN_PercentageOfValueUsedForRansoms>

  <!-- Player Hacking -->
  <SMN_PlayerCanHack>Кибератаки игрока [ОВ = Очки взлома]</SMN_PlayerCanHack>
  <SMN_receiveFullHackingAlert>Предупреждение о превышении ОВ более 90%</SMN_receiveFullHackingAlert>
  <SMN_RetaliationChanceOnFailure>Шанс ответных мер, при неудачном взломе</SMN_RetaliationChanceOnFailure>
  <SMN_MinHackSuccessChance>Минимальный шанс успешного взлома</SMN_MinHackSuccessChance>
  <SMN_MaxHackSuccessChance>Максимальный шанс успешного взлома</SMN_MaxHackSuccessChance>

  <!-- Connectivity Settings -->
  <!-- Surrogates -->
  <SMN_surrogatesAllowed>SkyMind суррогаты [ОН = Очки навыков]</SMN_surrogatesAllowed>
  <SMN_otherFactionsAllowedSurrogates>Фракции могут использовать суррогаты</SMN_otherFactionsAllowedSurrogates>
  <SMN_minGroupSizeForSurrogates>Количество суррогатов в отрядах фракций </SMN_minGroupSizeForSurrogates>
  <SMN_minSurrogatePercentagePerLegalGroup>Минимальный процент суррогатов в группе [по умолчанию 0%]</SMN_minSurrogatePercentagePerLegalGroup>
  <SMN_maxSurrogatePercentagePerLegalGroup>Максимальный процент суррогатов в группе [по умолчанию 70%]</SMN_maxSurrogatePercentagePerLegalGroup>
  <SMN_displaySurrogateControlIcon>Отображение иконки над суррогатами</SMN_displaySurrogateControlIcon>
  <SMN_safeSurrogateConnectivityCountBeforePenalty>Суррогатов на одного оператора до штрафов:</SMN_safeSurrogateConnectivityCountBeforePenalty>

  <!-- Skills -->
  <SMN_receiveFullSkillAlert>Предупреждение о превышении ОН более 90%</SMN_receiveFullSkillAlert>
  <SMN_skillPointInsertionRate>Количество ОН, нужных для добавления [по умолчанию 100] </SMN_skillPointInsertionRate>
  <SMN_skillPointConversionRate>Количество XP, получаемого за каждое ОН [по умолчанию 0.5] </SMN_skillPointConversionRate>
  <SMN_passionSoftCap>Мягкий лимит на увеличения затрат ОН на интерес [по умолчанию 8] </SMN_passionSoftCap>
  <SMN_basePointsNeededForPassion>Количество ОН, необходимых для интереса [по умолчанию 5000] </SMN_basePointsNeededForPassion>

  <!-- Cloud -->
  <SMN_UploadingKills>Загрузка в SkyMind лишает тело сознания</SMN_UploadingKills>
  <SMN_UploadingPermakills>Загрузка в SkyMind полностью убивает тело</SMN_UploadingPermakills>
  <SMN_SkyMindOperationTimeRequired>Часов на выполнения операций SkyMind [по умолчанию 24] </SMN_SkyMindOperationTimeRequired>

</LanguageData>